/*--------------------------------------------
----------------------------------------------
Footer
----------------------------------------------
--------------------------------------------*/
.outer-footer {
    background-color: #AEBFD1;
}
footer {
    margin: 0 auto;
    max-width: 1024px;
    height: 150px;
    background-color: #AEBFD1;

    display: flex;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width:1039px) {
    footer {
        margin: 0 15px
    }
}


.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-logo img {
    max-width: 272px;
    max-height: 100px;
}
.columns-footer-two {
    display: flex;
    justify-content: left;
}
footer ul {
    list-style-type: none;
    border-left: 1px solid #0A3641;
    font-size: 13px;
    padding: 15px 10px;
    margin-left: 20px;
    color: #0A3641;
}
footer ul li a {
    color: #0A3641;
}
.bold {
    font-weight: 900;
    font-size: 13px;
}