/*--------------------------------------------
----------------------------------------------
header
----------------------------------------------
--------------------------------------------*/
header {
    background-color: transparent;
}

.homepage-header {
    height: 396px;
    position: relative;

    background-image: url(../images/hero-banners/yellow-jacket-dude.png);
    background-position: right bottom;
    background-size: 720px 500px;
    background-repeat: no-repeat;
} 
.header-text {
    position: absolute;
    bottom: 140px;
    right: 15px;
    color: white;
    text-align: right;
}
.small {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -10px;
}
.big {
    font-size: 35px;
}
.header-text-btn {
    float: right;
}
/*516px --> Lphone/tablet/Desktop*/
@media screen and (min-width:720px ) { 
    .homepage-header {
        background-size: auto 120%;
        background-position: center bottom;
        height: 650px;
    } 
    .header-text {
        text-align: left;
        bottom: 140px;
        left: 15px;
    }
    .small {
        font-size: 16px;
        margin-bottom: -7px;
    }
    .big {
        font-size: 42px;
    }
    .header-text-btn {
        float: left;
    }
}

/*--------------------------------------------
----------------------------------------------
navigation
----------------------------------------------
--------------------------------------------*/
nav {
    display: flex;
    height: 56px;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    max-width: 120px;
    height: 45px;
}
/* Icons */
.nav-icon {
    max-width: 20px;
    justify-self: center;
    
}