/*
LIST OF CONTENT:
    1. Header
    2. Arrivals
    3. About us (Who are we?)
    4. Contact
*/

/*--------------------------------------------
----------------------------------------------
header
----------------------------------------------
--------------------------------------------*/
header {
    background-color: transparent;
}

.homepage-header {
    height: 396px;
    position: relative;

    background-image: url(../images/hero-banners/yellow-jacket-dude.png);
    background-position: right bottom;
    background-size: 720px 500px;
    background-repeat: no-repeat;
} 
.header-text {
    position: absolute;
    bottom: 140px;
    right: 15px;
    color: white;
    text-align: right;
}
.small {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: -10px;
}
.big {
    font-size: 35px;
}
.header-text-btn {
    float: right;
}
/*516px --> Lphone/tablet/Desktop*/
@media screen and (min-width:720px ) { 
    .homepage-header {
        background-size: auto 120%;
        background-position: center bottom;
        height: 650px;
    } 
    .header-text {
        text-align: left;
        bottom: 140px;
        left: 15px;
    }
    .small {
        font-size: 16px;
        margin-bottom: -7px;
    }
    .big {
        font-size: 42px;
    }
    .header-text-btn {
        float: left;
    }
}

/*--------------------------------------------
----------------------------------------------
Arrivals
----------------------------------------------
--------------------------------------------*/
.arrivals {
    padding: 20px 0;
    background-color: #E3E6EA;
    color: #0A3641;
}
.arrivals-title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.1em;
    margin-bottom: 10px;
}
.arrivals hr {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card-arrivals {
    border: solid thin #0A3641;
}
.jacket-info {
    border-top: solid thin #0A3641;
    padding: 4px;
}
.category {
    font-size: 10px;
    font-weight: 800;
    color: #AEBFD1;

    margin-bottom: -2px;
}
.name {
    font-size: 20px;
    font-weight: 800;
}
.price {
    font-size: 10px;
    font-weight: 400;
    color: #AEBFD1;
}
#arrivals-btn {
    margin: 10px auto;
    margin-top: 25px;
}
.third-one {
    display: none;
}
@media screen and (min-width:720px) {
    .arrivals {
        background-color: #E3E6EA;
    }
    .card-arrivals {
        border: none;
    }
    .jacket-info {
        border-top: none;
        text-align: center;
        padding: 0;
    }
    .third-one {
        display: block;
    }
}

/*--------------------------------------------
----------------------------------------------
About us / Who are we
----------------------------------------------
--------------------------------------------*/

.hero-banner {
    height: 400px;
    position: relative;
    background-image: url(../images/hero-banners/red-jacket-dude.png);
    background-size: 100%;
    background-position: bottom center;
}
.gradient {
    height: 400px;
    background: linear-gradient(360deg, rgba(37, 37, 37, 0.582) 33.75%, rgba(64, 64, 64, 0) 70.56%);
}
.hero-text {
    position: absolute;
    bottom: 20px;
    color: white;
    
}
.kerning {
    letter-spacing: 0.125em;
}
@media screen and (max-width:650px) {
    .hero-banner {
        background-size: 125%;
    }
}

/*--------------------------------------------
----------------------------------------------
Contact
----------------------------------------------
--------------------------------------------*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px 0;
}
.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-contact-box {
    background-color: #AEBFD1;
    color: #0A3641;
    width: 80%;
    max-width: 170px;
    height: 40px;
    font-size: 22px;
}
.big-contact-box {
    background-color: #0A3641;
    color: white;
    width: 90%;
    max-width: 260px;
    height: 125px;
    font-size: 22px;
}

