/*General statements*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "montserrat";
    font-weight: 500;
}
body {
    max-width: 1000px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/*
LIST OF CONTENT:
    1. positional items
    2. images and icons
    3. fonts
    4. buttons
*/

/*--------------------------------------------
----------------------------------------------
positional items 
    OR 
items i don't know where to position (yet).
----------------------------------------------
--------------------------------------------*/
.inner {
    margin: 0 auto;
    max-width: 1024px;
}
@media screen and (max-width:1039px) {
    .inner {
        margin: 0 15px
    }
}

.multiple-columns {
    display: flex;
    gap: 5px;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/*--------------------------------------------
----------------------------------------------
images and icons
----------------------------------------------
--------------------------------------------*/
/* Images */
img {
    width: 100%;
}


/*--------------------------------------------
----------------------------------------------
Buttons
----------------------------------------------
--------------------------------------------*/
.cta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 40px;
}
.cta {
    color: white;
}

.bg-yellow {
    background-color: #D9BD29;
    float: right;
}
.bg-main {
    background-color: #0A3641;
}
.bg-red {
    background-color: #A31010;
}

/*--------------------------------------------
----------------------------------------------
Arrivals
----------------------------------------------
--------------------------------------------*/
.arrivals {
    margin: 20px 0;
    color: #0A3641;
}
.arrivals-title {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
}
.arrivals hr {
    width: 60vw;
    margin: 0 auto;
    margin-bottom: 20px;
}
.card-arrivals {
    border: solid thin #0A3641;
}
.jacket-info {
    border-top: solid thin #0A3641;
}
.category {
    font-size: 10px;
    font-weight: 800;
    color: #AEBFD1;

    margin-bottom: -2px;
}
.name {
    font-size: 20px;
    font-weight: 800;
}
.price {
    font-size: 10px;
    font-weight: 400;
    color: #AEBFD1;
}
#arrivals-btn {
    margin: 10px auto;
}
.third-one {
    display: none;
}
@media screen and (min-width:500px) {
    .third-one {
        display: block;
    }
}

/*--------------------------------------------
----------------------------------------------
About us / Who are we
----------------------------------------------
--------------------------------------------*/

.hero-banner {
    height: 375px;
    position: relative;
    background-image: url(../images/hero-banners/red-jacket-dude.png);
    background-size: 600px 400px;
    background-position: bottom center;
}
.gradient {
    height: 375px;
    background: linear-gradient(360deg, rgba(37, 37, 37, 0.83) 33.75%, rgba(64, 64, 64, 0) 70.56%);
}
.hero-text {
    position: absolute;
    bottom: 20px;
    color: white;
    
}
.kerning {
    letter-spacing: 0.125em;
}

/*--------------------------------------------
----------------------------------------------
Contact
----------------------------------------------
--------------------------------------------*/
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 35px 0;
}
.contact-box {
    display: flex;
    justify-content: center;
    align-items: center;
}
.small-contact-box {
    background-color: #AEBFD1;
    color: #0A3641;
    width: 80%;
    max-width: 170px;
    height: 40px;

    font-size: 22px;
}
.big-contact-box {
    background-color: #0A3641;
    color: white;
    width: 90%;
    max-width: 260px;
    height: 125px;

    font-size: 22px;
}

/*--------------------------------------------
----------------------------------------------
Footer
----------------------------------------------
--------------------------------------------*/
.outer-footer {
    background-color: #AEBFD1;
}
footer {
    margin: 0 auto;
    max-width: 1024px;
    height: 150px;
    background-color: #AEBFD1;

    display: flex;
    justify-content: center;
    align-items: center;

    
}
@media screen and (max-width:1039px) {
    footer {
        margin: 0 15px
    }
}

.columns {
    flex: 1;

}
.columns img {
    max-width: 272px;
    max-height: 100px;
}
.columns-footer-two {
    display: flex;
    justify-content: left;
}
footer ul {
    color: #0A3641;
    list-style-type: none;
    border-left: 1px solid #0A3641;
    font-size: 10px;
    padding: 15px 10px;
    margin-left: 20px;
}
.bold {
    font-weight: 900;
    font-size: 11px;
}