/*--------------------------------------------
----------------------------------------------
navigation
----------------------------------------------
--------------------------------------------*/
header {
    background-color: white;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.308);
}
.header {
    position: sticky;
    top: 0;
}
nav {
    display: flex;
    height: 56px;
    background-color: transparent;
    align-items: center;
    justify-content: space-between;
}
.nav-logo {
    max-width: 120px;
    height: 45px;
}
/* Icons */
.nav-icon {
    max-width: 20px;
    justify-self: center;
}
/*--------------------------------------------
----------------------------------------------
Navigation Menu
----------------------------------------------
--------------------------------------------*/
#menu {
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    right: -1000vw;
}
#menu:target {
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}
.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    flex: 1.5;
    background-color: #0A3641;
}
.logo {
    background-color: #0A3641;
    display: flex;
    padding: 20px;
    flex: 1;
    justify-content: center;
    width: 50%;
}
.logo img {
    max-width: 300px;
    align-self: flex-end;
}
#menu .links a {
    color: white;
    font-size: 22px;
    font-weight: 400;
}